<nav>
    <ul>
        <li><a routerLink="./listado" routerLinkActive="enlace-activo">Listado (fichas)</a></li>
        <li><a routerLink="./listado-secuencial" routerLinkActive="enlace-activo">Listado (fichas-secuencial)</a></li>
        <li><a routerLink="./listado-tabla" routerLinkActive="enlace-activo">Listado (tabla)</a></li>
        <li><a [routerLink]="['./crear']" [routerLinkActive]="['enlace-activo']">Nuevo</a></li>
        <li><a [routerLink]="enlace" routerLinkActive="enlace-activo">Nuevo (desde atributo)</a></li>
        <li><a routerLink="./ayuda" routerLinkActive="enlace-activo">Ayuda</a></li>
    </ul>
</nav>