<main>
    <div id="formulario-creacion" class="mat-autocomplete-panel">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput [(ngModel)]="vehiculo.nombre">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Descripción</mat-label>
                <textarea matInput rows="10" [(ngModel)]="vehiculo.descripcion"></textarea>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Imagen</mat-label>
                <input matInput [(ngModel)]="vehiculo.imagen">
            </mat-form-field>
        </div>
        <div id="contenedor-boton">
            <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
            &nbsp;
            <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
            &nbsp;
            <button mat-raised-button color="primary" (click)="eliminar()">Eliminar</button>
        </div>
    </div>
</main>